<div class="modal fade modal-metadata-dialog">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h2 class="modal-title">Metadata</h2>
			</div>
			<div class="modal-body">
				<p>Please, find below post metadata:</p>
				<div class="input-group">
    				<span class="input-group-addon">
                        <i class="icon-doc-text"></i>
                        Title:
                    </span>
                    <input id="metadata-title" type="text" class="form-control"
    						placeholder='Enter post title here'
							name='title'
							value="<%= metadata.title %>"/>
				</div>
				<div class="input-group">
    				<span class="input-group-addon">
                        <i class="icon-calendar"></i>
                        Date:
                    </span>
                    <input id="metadata-date" type="text" class="form-control"
    						placeholder='Enter post date here'
							name='date'
							value="<%= metadata.date %>"/>
				</div>
				<div class="input-group">
    				<span class="input-group-addon">
                        <i class="icon-tag"></i>
                        Category:
                    </span>
                    <input id="metadata-category" type="text" class="form-control"
    						placeholder='Enter post category here'
							name='category'
							value="<%= metadata.category %>"/>
				</div>
				<div class="input-group">
    				<span class="input-group-addon">
                        <i class="icon-picture"></i>
                        Image:
                    </span>
                    <input id="metadata-image" type="text" class="form-control"
    						placeholder='Enter post cover image here'
							name='image'
							value="<%= metadata.image %>"/>
				</div>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-primary action-metadata-update" data-dismiss="modal">OK</a>
			</div>
		</div>
	</div>
</div>
